PackageIdentifier: StephenLClarke.Fixdecoder
PackageVersion: __VERSION__
InstallerType: portable
ReleaseDate: __RELEASE_DATE__
Commands:
  - fixdecoder
Installers:
  - Architecture: x64
    InstallerUrl: https://github.com/stephenlclarke/fixdecoder2/releases/download/v__VERSION__/fixdecoder-__VERSION__.windows-x86_64.exe
    InstallerSha256: __SHA256_FIXDECODER_WINDOWS_X86_64__
  - Architecture: arm64
    InstallerUrl: https://github.com/stephenlclarke/fixdecoder2/releases/download/v__VERSION__/fixdecoder-__VERSION__.windows-arm64.exe
    InstallerSha256: __SHA256_FIXDECODER_WINDOWS_ARM64__
ManifestType: installer
ManifestVersion: 1.9.0
